/* You can add global styles to this file, and also import other style files */
@import 'normalize.css'
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700')

html, body
  width: 100%
  height: 100%

body
  font-family: Roboto, sans-serif
  --c-bl: #222
  --c-bl-b: #333
  --c-w-oo: #{transparentize(white, .75)}
