\:host
  text-align: center
  color: var(--c-bl)
  h1
    color: transparent
    background-color: var(--c-bl-b)
    background-clip: text
    font-weight: 700
    text-shadow: 2px 2px 4px var(--c-w-oo)
  cm-marked
    display: block
    text-align: left
    background: transparentize(whitesmoke, .2)
    margin: 0 20%
    padding: 20px
