\:host
  color: var(--c-bl)
  text-align: center
  h1
    background-color: var(--c-bl-b)
    background-clip: text
    color: transparent
    font-weight: 700
    text-shadow: 2px 2px 4px var(--c-w-oo)
  cm-marked
    display: block
    margin: 0 20%
    background: transparentize(whitesmoke, .2)
    padding: 20px
    text-align: left
